<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051191917330-b0kjkd63rdo7cosr285f3cgphtcbe0ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051191917330-b0kjkd63rdo7cosr285f3cgphtcbe0ri</string>
	<key>API_KEY</key>
	<string>AIzaSyBdHXuTY-mVdmVmW59brHgIIWoUBS5wwzw</string>
	<key>GCM_SENDER_ID</key>
	<string>1051191917330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yummylogdiaryforclinicians.app</string>
	<key>PROJECT_ID</key>
	<string>app-yummy-log-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>app-yummy-log-diary.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051191917330:ios:5e9e5b0a1ea783f680d1cb</string>
</dict>
</plist>
